<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OcrGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OcrGenerator.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>1031</value>
            </setting>
            <setting name="Solr" serializeAs="String">
                <value>http://fihel2suas150.groupad1.com:8983/solr/matcher_payments_se/update/json/docs?commit=true</value>
            </setting>
            <setting name="Environments" serializeAs="String">
                <value>[{"Name":"Test","Url":"http://fihel2stas143.groupad1.com:8983/solr/matcher_payments_{0}/update/json/docs?commit=true"},{"Name":"UAT","Url":"http://fihel2suas150.groupad1.com:8983/solr/matcher_payments_{0}/update/json/docs?commit=true"}]</value>
            </setting>
            <setting name="Indexes" serializeAs="String">
                <value>[{"Name":"se"},{"Name":"fi"}]</value>
            </setting>
            <setting name="SelectedEnvironment" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="Fields" serializeAs="String">
                <value>[{"Name":"ocr","Type":1,"Length":10,"Prefix":"7008","Value":""},{"Name":"case","Type":1,"Length":7,"Prefix":null,"Value":""},{"Name":"debtor","Type":0,"Length":20,"Prefix":null,"Value":""}]</value>
            </setting>
        </OcrGenerator.Properties.Settings>
    </userSettings>
</configuration>